.trailers-list {
  position: relative;
  margin: 0 auto;

  &__title {
    margin-bottom: 30px;
  }

  &__admin-trailers-search {
    font-size: 15px;
    width: 340px;
    height: 34px;
    outline: none;
    border: 1px solid rgb(182, 181, 181);
    border-radius: 4px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 5px;
  }

  &__admin-trailers-search:focus {
    border: 1px solid rgb(182, 181, 181);
  }

  &__name-item{
    margin-top: 50px;
    font-size: 28;
  }

  &__success {
    font-size: 18px;
    margin-top: 50px;
    color: green;
  }
}