$color-light-text: rgba(0, 0, 0, 0.4);
$color-dark-text: #333333;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.search-page {
	max-width: 1180px;
	margin: 30px auto;
	display: flex;
	justify-content: flex-start;

	& > .side-menu {
		max-width: 240px;
		flex: 0 1 240px;
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 30px;

		&_header {
			display: flex;
			flex-direction: row;
			color:$color-dark-text;
			font-size: 13px;

			&_search-word {
				margin-right: 15px;
			}
		}
	}
}