$color-light-text: rgba(0, 0, 0, 0.1);
$color-dark-text: #333;
$color-positive: #3BB33B;
$color-neutral: #777777;
$color-negative: #FF0000;

.movie-card-rating-set {
	position: absolute;
	font-family: 'Tahoma';
	font-style: normal;
	width: 210px;
	height: 30px;
	display: flex;
	align-items: center;
	bottom: 50px;
	right: 30px;

	&.hidden {
		display: none;
	}

	&__stars-block {
		background: white;
		display: flex;
		width: 240px;
		height: 30px;
		border: 1px solid $color-light-text;
		border-radius: 3px;
		padding-left: 5px;
		align-items: center;

    &_stars {
			margin-right: 5px;
			margin-bottom: 3px;
		}

		&_splitter {
			color: $color-light-text;
		}

		&_new-rating {
			color: $color-dark-text;
			display: flex;
			justify-content: center;
			width: 18px;
			font-size: 16px;
			
			&.animation {
				animation: stretch-bounce .5s ease-in-out;
			}
		}
	}
}

@keyframes stretch-bounce {
	0% {
		transform: scale(1);
	}
	25% {
		transform: scale(1.5);
	}
	50% {
		transform: scale(0.9);
	}
	75% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}