@import '../../Authorization/Authorization.scss';

// COLORS
$blackTitle: #000000;
$labelGreyColor: rgba(0, 0, 0, 0.4);
$focusColor:rgba(0, 0, 0, 0.05);

@mixin input {
	height: 54px;
	outline: none;
	border: 1px solid $borderColor;
	border-radius: 8px;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 5px;
}

label {
	margin-bottom: 15px;
}

.advanced-search-form {
	position: relative;
	font-family: 'Tahoma';
	font-style: normal;
	max-width: 940px;
	height: 924px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: flex-start;

	&__title {
		color: $blackTitle;
		font-weight: 700;
		font-size: 40px;
		margin-bottom: 38px;
	}

	&__subtitle {
		font-weight: 700;
		font-size: 24px;
		margin-bottom: 44px;
	}

	&__form {
		width: 940px;
		text-align: left;
	}

	&__row {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		max-width: 100%;
		height: 105px;
		color: $labelGreyColor;
		font-size: 18px;
		margin-bottom: 15px;

		&_film-title,
		&_film-country,
		&_film-genre {
			@include input();
			width: 450px;
			margin-right: 50px;
		}

		&_film-genre,
		&_film-country {
			background-image: url('../../../assets/icons/down.svg');
			background-repeat: no-repeat;
			background-position: 95% center;
			appearance: none;
			
			&_option {
				color: $blackTitle;
			}
		}

		&_film-year,
		&_film-rating {
			@include input();
			width: 160px;
			margin-right: 25px;
		}

		&_film-minYear,
		&_film-maxYear,
		&_film-minRating,
		&_film-maxRating {
			@include input();
			width: 90px;
		}

		&_film-minYear,
		&_film-minRating {
			position: relative;
			margin-left: 25px;
		}

		&_film-title:focus,
		&_film-country:focus,
		&_film-genre:focus,
		&_film-year:focus,
		&_film-rating:focus,
		&_film-minYear:focus,
		&_film-maxYear:focus,
		&_film-minRating:focus,
		&_film-maxRating:focus {
			background-color: $focusColor;
			color: $blackTitle;
		}

		&_label-minYear::after,
		&_label-minRating::after {
			content: "";
			display: inline-block;
			vertical-align: middle;
			width: 20px;
    	height: 2px;
			left: -15px;
			top: 50px;
			background-color: $borderColor;
			position: relative;
		}
		
		&_film-maxYear,
		&_film-maxRating {
			margin-top: 36px;
		}

		&_label-minYear,
		&_label-minRating {
			margin-left: 10px;
		}
	}

	&__button-search {
		position: absolute;
		@include buttonSizes();
    background-color: $buttonColor;
    margin-bottom: 20px;
		color: $whiteColor;
		font-weight: 700;
		bottom: 156px;
		right: 0;
		cursor: pointer;
	}
}