// COLORS
$headerBackground: #1F1F1F;
$searchBackground: #3e3e3e;
$searchPlaceholderColor: #b4b4b4;
$searchPlaceholderColorFocus: #f2f2f2;
$buttonBackground: #D9D9D9;

//FONTS
$searchFont: Arial;

@mixin searchIcons {
  position: absolute;
  top: 11px;
  width: 20px;
  height: 20px;
}

@mixin backgroundRules {
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

@mixin wrapper {
  width: 100%;
  background: $headerBackground;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.header-wrapper {
  @include wrapper();
}

header {
  width: 1280px;
  height: 70px;
  background: $headerBackground;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-size: 1px;
  opacity: 0;
}

.logo {
  width: 165px;
  height: 23px;
  background-image: url('../../assets/icons/logo.png');
  background-repeat: no-repeat;
  cursor: pointer;
}

.header-nav{
  display: flex;
  flex-direction: row;
  max-width: 600px;
}

.search-wrap{
  position: relative;
}

.search {
  font-family: $searchFont;
  font-size: 15px;
  width: 340px;
  height: 34px;
  outline: none;
  border: none;
  border-radius: 3px;
  background: $searchBackground;
  padding-left: 15px;
  padding-right: 15px;
}

.search::placeholder{
  color: $searchPlaceholderColor;
}

.search-settings {
  @include searchIcons();
  @include backgroundRules();
  right: 40px;
  background-image: url('../../assets/icons/search_settings.svg');
}

.search-loop {
  @include searchIcons();
  @include backgroundRules();
  right: 10px;
  background-image: url('../../assets/icons/search_loop.svg');
}

.search:focus{
  background: $searchPlaceholderColorFocus;
  color: $headerBackground;
}

.search::-ms-clear {
  display: none;
}

.search::-webkit-search-cancel-button {
  display: none;
}

.user-auth{
  margin-left: 44px;
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.flag{
  width: 24px;
  height: 24px;
  background-image: url('../../assets/icons/flag.svg');
  @include backgroundRules();
}

.avatar-btn{
  width: 32px;
  height: 32px;
  border-radius: 25px;
  background-image: url('../../assets/icons/avatar.svg');
  @include backgroundRules();
}

.enter-link{
  display: flex;
  align-items: center;
  font-family: $searchFont;
  font-size: 14px;
  font-weight: 700;
  color: $searchPlaceholderColor;
  cursor: pointer;
}
