$color-light-text: rgba(0, 0, 0, 0.4);
$color-dark-text: #333333;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.advanced-search-page {
	max-width: 1180px;
	margin: 30px auto;
	display: flex;
	justify-content: flex-start;

	& > .side-menu {
		max-width: 240px;
		flex: 0 1 240px;
	}

	&__content {
		width: 100%;
	}
}